// GENERAL STYLES
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif !important;
    font-size: 0.8125rem;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

p {
    margin-bottom: 0 !important;
}

.tooltip.show {
    opacity: 1 !important;
}

.tooltip-inner {
    background-color: white !important;
}

.f-12 {
    font-size: 12px;
}

.f-15 {
    font-size: 15px;
}

.pos-f-t {
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
    width: 100% !important;
}

.col-card {
    min-width: 50%;
    padding: 0 !important;
}

// PAGE CONTAINER
.page-container {
    width: 1000px;
    box-sizing: border-box;
    min-height: 100vh;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    //box-shadow: rgb(171, 169, 171) 0px 0px 5px 0px;
    // margin-top: 90px;
}

// HEADER
.my-header {
    display: flex;
    width: 100%;
    height: 90px;
    /* position: fixed;
    top: 0;
    z-index: 10000; */
    background-color: white;
    box-shadow: rgb(171, 169, 171) 0px 0px 5px 0px;

    div {
        width: 1000px;
        margin: auto;
        display: flex;
        justify-content: start;
    }

    img {
        padding: 10px 20px;
    }
}

.my-nav {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0 !important;

    .nav.nav-tabs {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .nav-item {
        color: black !important;
        width: 240px;
        padding: 6px 12px;
        text-align: center;
        background-color: transparent;
        border: none !important;
        outline: none !important;
        //border-bottom: 3px solid transparent !important;
        font-size: 18px;

        &:hover {
            font-weight: bolder;
        }
    }
    .nav-item.active {
        //border-bottom: 3px solid rgb(255, 90, 0) !important;
        font-weight: bolder !important;
    }

    .nav-button {
        width: 240px;
        padding: 6px 12px;
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 3px solid transparent;
        font-size: 20px;

        &:hover {
            font-weight: bolder;
        }
    }

    .active {
        border-bottom: 3px solid rgb(255, 90, 0);
        font-weight: bolder;
    }
}

// BODY CONTAINER
.body-container {
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
}

// CART
.cart {
    margin-right: 10px;
    width: 290px;
    float: left;
    position: sticky;
    top: 110px;
    align-self: flex-start;

    .box {
        border: 1px solid rgb(210, 210, 210);
    }

    .header {
        font-size: 20px;
        font-weight: 500;
        text-align: end;
        padding: 10px;
        color: white;
    }
}

.cart-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;

    div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.order-now {
    width: 80%;
    margin: 20px auto;

    button {
        background-color: rgb(0, 152, 0);
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: none;
        outline: none;
        color: white;
    }
}

.cartItem {
    border-radius: 3px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    font-size: 12px;
    font-weight: 500;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);

    .item-name {
        max-width: 150px;
        text-align: end;
        margin-right: 5px;
    }

    .remove-item {
        border-radius: 50%;
        font-size: 10px;
        color: white;
        background-color: rgb(106, 106, 106);
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: red;
            cursor: pointer;
        }
    }

    .price {
        padding-right: 10px;
    }

    .controls {
        background-color: white;
        background-color: white;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 3px;
        max-height: 22px;

        button {
            border: none;
            outline: none;
            width: 20px;
            height: 20px;
            background-color: white;
            font-size: 10px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        button:first-child {
            border-right: 1px solid rgb(224, 224, 224);
        }

        button:nth-of-type(2) {
            border-left: 1px solid rgb(224, 224, 224);
        }
    }
}

// MODAL CART HEADER
.modal-cart-header {
    font-weight: bolder;
    font-size: 18px;
}

// CATREGORIES
.categories {
    display: flex;
    flex-direction: column;
    padding: 16px 15px;
    border: 1px solid rgb(210, 210, 210);
    text-align: end;
    width: 190px;
    margin-left: 10px;
    position: sticky;
    top: 110px;
    align-self: flex-start;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);

    .categories-header {
        font-weight: bold;
        font-size: 16px;
    }

    div {
        cursor: pointer;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

// MENU
.menu {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-right: 10px;
    margin-left: 10px;

    .collapse.show {
        .card {
            padding: 0 !important;
        }
    }

    .search-bar {
        display: flex;
        flex-direction: row-reverse;
        border: 1px solid rgb(210, 210, 210) !important;

        width: 100%;
        padding: 5px;
        margin-bottom: 20px;

        input {
            width: 100%;
            border: none;
            outline: none;
            text-align: end;
        }

        i {
            margin-top: 5px;
        }
    }
}

.menu-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 13px 0;

    img {
        width: 60px;
        max-height: 60px;
        object-fit: cover;
    }

    .add-button {
        background-color: rgb(0, 148, 0);
        border-radius: 50%;
        min-width: 30px;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: 0 10px;
        cursor: pointer;

        i {
            width: 30px;
            height: 30px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}

// Collapse Item
.collapse-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;

    .collapse-button {
        width: 100%;
        background-color: rgb(245, 245, 245);
        color: black;
        border-radius: 0;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;

        span:first-of-type {
            float: left;
        }

        span:nth-child(2) {
            float: right;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: rgb(245, 245, 245) !important;
            color: black !important;
        }
    }
}

// CARD PRODUCT
.card-product {
    text-align: center;
    min-width: 48%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    img {
        max-height: 160px;
        object-fit: cover;
    }

    button {
        color: white;
        border: none;
        outline: none;

        &:hover,
        &:focus {
            outline: none;
            border: none;
        }
    }
}

// INFO
.info {
    width: 660px;
    margin-left: 20px;

    .info-header {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: end;
    }

    .info-item {
        margin: 0;
        width: 100%;
        border-top: 1px solid rgb(224, 224, 224);
        padding: 10px 0;
        font-weight: 500;
        font-size: 14px;

        div {
            text-align: end;
        }
    }
}

.responsive-cart {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    cursor: pointer;
    box-shadow: rgb(171 169 171) 0px 0px 5px 0px;
}

// MODAL
.modal-dialog {
    min-width: 800px;
}

.modal-content {
    border-radius: 0 !important;
    min-width: 800px;
}

// ITEM OPTIONS
.options-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

// RESPONSIVE
@media screen and (max-width: 1000px) {
    .page-container {
        width: 100vw;
        // margin-top: 60px;
    }

    .my-header {
        width: 100vw;
        height: 60px;
        justify-content: center;

        div {
            width: calc(100vw - 40px);
            margin: auto;
            display: flex;
            justify-content: center;
        }
    }

    .modal-dialog {
        min-width: 100vw !important;
        max-width: 100vw;
        margin: 0 !important;
    }

    .cart {
        display: none;
    }

    .responsive-cart {
        display: flex;
    }

    .body-container {
        width: calc(100vw - 40px);
    }

    .categories {
        margin-right: 20px;
        min-width: 25vw;
    }

    .menu {
        width: 100%;
    }

    .modal-dialog {
        min-width: 100vw;
        max-width: 100vw;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .modal-content {
        border-radius: 0 !important;
        min-width: 100vw;
    }
}

@media screen and (max-width: 767px) {
    .page-container {
        width: 100vw;
        // margin-bottom: 50px;
    }

    .cart {
        display: none;
    }

    .responsive-cart {
        display: flex;
    }

    .body-container {
        width: calc(100vw - 40px);
    }

    .categories {
        display: none;
    }

    .menu {
        width: 100%;
    }

    .navbar {
        .nav-item {
            font-size: 15px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        .nav-item:first-child {
            width: 45%;
        }
        .nav-item:nth-child(2) {
            width: 55%;
        }
    }
}

@media screen and (max-width: 480px) {
    .card-product {
        min-width: 100%;
        margin: 0;
        margin-bottom: 25px;

        img {
            max-height: 225px;
        }
    }
}
